node_modules
dist
release
*.log
.DS_Store
.vscode
.idea
src/main/services/google-credentials.json
src/main/services/box-credentials.json
src/main/services/onedrive-credentials.json

# Playwright artifacts
test-results/
playwright-report/
